<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" style="margin-bottom: 0.2em;" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-info">
      <input ngbButton type="radio" [value]="1"> Magic Console
    </label>&nbsp;
    <label ngbButtonLabel class="btn-info">
      <input ngbButton type="radio" value="2"> Dialogs
    </label>&nbsp;
    <label ngbButtonLabel class="btn-info">
      <input ngbButton type="radio" [value]="3"> Help
    </label>
  </div>

<ng-container *ngIf="model == 1">
  <textarea #wizscript [(ngModel)]="wizScript" (ngModelChange)="calculateMana()"
  style=" padding: 0.4em; width: 100%; height: 90%; color: rgb(0, 179, 45); font-size: large; font-weight: bold; background-color: rgb(0, 0, 0);"></textarea>
  <div class="container">
    <div class="row">
      <button (click)="runScript()" class="btn btn-success" [disabled]="disableButton || leftMana < 0">Run Script</button>
      <p class="col-sm"><ngb-progressbar type="info" [value]="leftManaPercent" style="width: 100%; height: 145%;">
        <div class="col-sm" style="font-size: 1.5em; color: black; position: absolute;">Maná: {{leftMana}}/{{wizardMana}}</div>
      </ngb-progressbar></p>
    </div>    
  </div>
</ng-container>
<ng-container *ngIf="model == 2">
  <div style="background-color: seashell; width: 100%; min-height: 20em; height: auto; padding: 1em; font-family: MedievalSharp; font-size: large; font-weight: bold;"
    *ngFor="let dialog of mapGeneratorService.selectedLevel.dialogs">
    <div [innerHTML]="dialog.content"></div>
  </div>
</ng-container>

<ng-container *ngIf="model == 3">
  <div style="background-color: seashell; width: 100%; min-height: 20em; height: auto; padding: 1em; font-family: MedievalSharp; font-size: large; font-weight: bold;"
  [innerHTML]="mapGeneratorService.selectedLevel.helpText">
  </div>
</ng-container>