<svg>
</svg>

<svg width="600px" height="600px" style=" box-sizing:border-box; border: 1px solid black; margin: 1em;">
    <!-- Tiles -->
    <rect   *ngFor="let tile of mapGeneratorService.tiles; let i = index"   
            [attr.x]="this.mapGeneratorService.tiles[i].percentX" 
            [attr.y]="this.mapGeneratorService.tiles[i].percentY"
            [attr.width]="this.mapGeneratorService.tiles[i].width" 
            [attr.height]="this.mapGeneratorService.tiles[i].height"
            style="stroke: rgb(26, 26, 26); stroke-width: 0.1%; fill: {{this.mapGeneratorService.tiles[i].color}};"
            >
    </rect>


    <!-- Wizard -->
    <image href="./../../assets/img/wizard.svg"
    [attr.x]="this.mapGeneratorService.units[0].percentX" 
    [attr.y]="this.mapGeneratorService.units[0].percentY" 
    [attr.width]="this.mapGeneratorService.units[0].width" 
    [attr.height]="this.mapGeneratorService.units[0].height" >
   </image>
</svg> 

<!-- <div #unit>{{this.myDiv?.nativeElement.getBoundingClientRect().y}}</div> -->

   <!-- <animateTransform
                attributeName="transform"
                begin="0s"
                dur="2s"
                type="rotate"
                from="0 60 60"
                to="360 100 60"
                repeatCount="indefinite"
                     /> -->