<div class="container" style="text-align: center; margin-top: 4em;">
    <div *ngFor="let level of levels; index as i"
    (click)="setLevel(i)"
    [routerLink]="'./../game-scene'"
     class="row level-container" style="background-color: rgb(187, 171, 171); width: 100%; min-height: 5em; margin-top: 1em;">
        <h1 style="font-family: MedievalSharp; font-weight:700; margin: auto; pointer-events:none">
            Level {{level.levelNumber}}:
            "{{level.title}}"
        </h1>
    </div>
</div>