<!-- Main Scene -->
<div style="padding: 5em; text-align: center;">
    <h1 style="font-weight:700!important; font-size: 3em; font-family: MedievalSharp; color: rgb(187, 171, 171); margin-bottom: 1em;">THE WIZARD SCRIPT ADVENTURE</h1>
    <svg height="300" width="500">
        <polygon class="play-button" points="150,50 350,150 150,250" style="fill: rgb(187, 171, 171);"  [routerLink]="'./../levels-menu'"></polygon>
        <text x="170" y="170" style="font-size: 3em;  fill:rgb(105, 91, 68); font-weight:700; font-family: MedievalSharp; pointer-events:none">PLAY</text>
    </svg>
    <div style="margin: auto;">
        <object type="image/svg+xml" data="./../../../assets/img/witch.svg" style="width: 20em;">
            <img src="./../../../assets/img/witch.svg" />
        </object>    
    </div>
</div>

